step-functions-workflow.json
{
  "Comment": "Sample step function",
  "StartAt": "Step1State",
  "States": {
    "Step1State": {
      "Type": "Task",
      "Resource": "",
      "Next": "Step2State",
      "Comment": "Executes the first step in the state machine"
    },
    "Step2State": {
      "Type": "Task",
      "Resource": "",
      "Next": "DispatchTypeProcessor",
      "Comment": "Executes the second step in the state machine"
    },
    "DispatchTypeProcessor": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "Red",
          "Next": "Step3RedProcessor"
        },
        {
          "Variable": "$.type",
          "StringEquals": "Blue",
          "Next": "Step3BlueProcessor"
        }
      ],
      "Default": "Writer"
    },
    "Step3RedProcessor": {
      "Type": "Task",
      "Resource": "",
      "Next": "Writer",
      "Comment": "This (fake) processes 'Red' types"
    },
    "Step3BlueProcessor": {
      "Type": "Pass",
      "Resource": "",
      "Next": "Writer",
      "Comment": "This (fake) processes 'Blue' types"
    },
    "Writer": {
      "Type": "Task",
      "Resource": "",
      "End": true,
      "Comment": "Final (fake) write step"
    }
  }
}
